@model A1fxCrm.Web.Models.Customer

<div class="display-label">
    Müşteri Adı Soyadı : @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
</div>

<div class="display-label">
    E-mail : @Html.DisplayFor(model => model.Email)
</div>

<div class="display-label">
    Telefon :@Html.DisplayFor(model => model.Phone)
</div>

<div class="display-label">
    Cep Telefonu: @Html.DisplayFor(model => model.Mobile)
</div>

<div class="display-label">
    Şehir : @Html.DisplayFor(model => model.City)
</div>
