@using System.Web.Optimization
<!DOCTYPE html>

<html lang="en" ng-app="main">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website &bull; @ViewBag.Title</title>
  
    @*   @Styles.Render("~/css")*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.css" />
    @*<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/flaty.css" rel="stylesheet" />
  

   


</head>
<body>
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="icon-reorder"></span>
        </button>
        <a class="navbar-brand" href="Main.html">
            <img src="/Content/images/logo.png">
        </a>
        @{if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <ul class="nav flaty-nav pull-right">

                <li class="user-profile">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                        <img class="nav-user-photo" alt="@HttpContext.Current.User.Identity.Name">
                        <span class="hidden-sm" id="user_info">
                            @{@HttpContext.Current.User.Identity.Name}
                        </span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-navbar" id="user_menu">

                        <li>
                            <a href="/account/changepassword">
                                <i class="icon-cog"></i>
                                Şifre Değiştir
                            </a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="/account/LogOff">
                                <i class="icon-off"></i>
                                Çıkış Yap
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        }
    </div>
    <div class="container" id="main-container">
        @Html.Partial("_RightMenu")
        <div id="main-content">
            <noscript>
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> Please enable JavaScript in your browser!
                </div>
            </noscript>

            @if (IsSectionDefined("featured"))
            {
                <div>
                    <div class="hero-unit">
                        @RenderSection("featured", required: false)
                    </div>
                </div>
            }

          
            @RenderBody()
            <footer>
                <p>A1 Capital Menkul Değerler A.Ş. © 2013</p>
            </footer>
        </div>



    </div>
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/tinymce/tinymce.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/angular-resource.js"></script>
    <script type="text/javascript" src="~/Scripts/mainmodule.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Scripts/flaty.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.js"></script>
</body>
</html>

