@*<div class="bs-sidebar hidden-print" role="complementary">
    <ul class="nav nav-list">
        <li class="nav-header">@Html.ActionLink("Anasayfa", "Index", "Home")</li>
        <li><a href="#">@Html.ActionLink("Müşteriler", "Index", "customer")</li>
        <li><a href="#">Raporlar</a></li>
        @{ if (Html.IsAdmin())
           {
            <li class="nav-header">Yönetim</li>
            <li><a href="#">@Html.ActionLink("Kullanıcılar", "Index", "User")</li>
            <li><a href="#">@Html.ActionLink("Yetkiler", "Index", "User")</a></li>
            <li class="divider"></li>
           }}
    </ul>
</div>

*@
@Html.Partial("_MenuPanel")