@model A1fxCrm.Web.Models.Customer

<fieldset>
    <legend>Customer</legend>

   


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Source)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Referance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Referance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerStatusId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerStatusId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
