@model A1fxCrm.Web.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Anasayfa</a> <span class="divider">/</span></li>
    <li class="active">Bilgilendirme Mesajları</li>
</ul>
@section sidebar {
    <div class="bs-sidebar hidden-print affix" role="complementary">
        <ul class="nav nav-list">
             <li class="nav-header">@Html.ActionLink("Anasayfa","Index","Home")</li>
            <li><a href="#">@Html.ActionLink("Müşteriler","Index","customer")</li>
            <li><a href="#">Raporlar</a></li>
            <li class="nav-header">Yönetim</li>
            <li><a href="#">@Html.ActionLink("Kullanıcılar","Index","User")</li>
            <li><a href="#">@Html.ActionLink("Yetkiler","Index","User")</a></li>
            <li class="divider"></li>

        </ul>

    </div>

}

@Html.Action("Index", "Tickets", new { id =Model.Id })

<p>
 
    @Html.ActionLink("Müşteri Listesi", "Index")
</p>
