@model PagedList.PagedList<A1fxCrm.Web.Models.Customer>
@using PagedList.Mvc;
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="#">Anasayfa</a> <span class="divider">/</span></li>
    <li class="active">Müşteriler</li>
</ul>

@section sidebar {
    <div class="bs-sidebar hidden-print affix" role="complementary">
        <ul class="nav nav-list">
            <li class="nav-header">@Html.ActionLink("Anasayfa","Index","Home")</li>
            <li><a href="#">@Html.ActionLink("Müşteriler","Index","customer")</li>
            <li><a href="#">Raporlar</a></li>
            <li class="nav-header">Yönetim</li>
            <li><a href="#">@Html.ActionLink("Kullanıcılar","Index","User")</li>
            <li><a href="#">@Html.ActionLink("Yetkiler","Index","User")</a></li>
            <li class="divider"></li>

        </ul>

    </div>

}
<div id="page-actions" class="clearfix">
    <div btn-actions="" ng-transclude="" ng-style="BtnActionLeft()" class="btn-toolbar pull-left" style="left: auto;">
    </div>
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            @{ if(Html.IsAdmin()){
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-filter"></i>&nbsp;Kullanıcılar
             <span class="caret"></span>
                </button>
                @Html.Action("ActiveUserList","User")
                }}
        </div>
        <div class="btn-group">
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                <i class="icon-filter"></i>&nbsp;Kategoriler
        <span class="caret"></span>
            </button>
            @Html.Action("StatusList","Status")
        </div>

        <div class="input-append" style="margin: 0px 0px 0px 10px;">

            <form style="margin: 0px" method="post" action="/Customer">
                <input type="text" style="line-height: 16px; font-size: 13px;" id="search" name="search">

                <button type="submit" class="btn">Ara</button>
            </form>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Detay</th>
            <th>Adı Soyadı
            </th>

            <th>Telefon
            </th>
            <th>GSM
            </th>
            <th>E-Mail</th>
            <th>M.Kategori</th>
            <th>Şehir
            </th>
            <th>Kaynak
            </th>
            <th>Referance
            </th>
            <th>Tarih
            </th>


        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                <a class="icon-edit" href="/customer/Edit/@item.Id"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                <a href="/customer/Edit/@item.Id" class="icon-user"></a>
            </td>
            <td>

                <a href="/customer/Edit/@item.Id" class="icon-user"></a>
            </td>
            <td><a href="/customer/Edit/@item.Id" class="icon-envelope"></a></td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>


        </tr>
    }

</table>
<div class="pagination pagination-right">
    @Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

