@model A1fxCrm.Web.Models.LogOnModel

@{
    ViewBag.Title = "Giriş";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
 
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
<div class="login-wrapper">
    <div style="width:111px; margin:0 auto 10px auto;"> 
		<img src="/content/images/headerlogo11.png" alt="logo" width="111" height="78"/> 
@using (Html.BeginForm())
{
    <div>
            <h3>Oturum Aç</h3>
			<hr/>
			<div class="form-group">
			<div class="controls">
		 
                  @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Kullanıcı Adı" })
                @Html.ValidationMessageFor(m => m.UserName)
			</div>
			</div>
        <div class="form-group">
			<div class="controls">
			   @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Şifre" })
                @Html.ValidationMessageFor(m => m.Password)
			</div>
			</div>
			<div class="form-group">
			<div class="controls">
			<label class="checkbox">
			 <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false"> Hatır
			</label>
			</div>
			</div>
			<div class="form-group">
			<div class="controls">
			<button type="submit" class="btn btn-primary form-control">Giriş</button>
             
			</div>
			</div>
        <hr />
        <p class="clearfix">
            <a href="/account/register" class="goto-login pull-left">  Yeni Kullanıcı</a>
        </p>
           
     
    </div>
}
    </div></div>