@model IEnumerable<A1fxCrm.Web.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlue.cshtml";
}



<div id="page-actions" class="clearfix">
    <div btn-actions="" ng-transclude="" ng-style="BtnActionLeft()" class="btn-toolbar pull-left" style="left: auto;">
        <button class="btn btn-small btn-success ng-scope" data-ng-click="add()">
            <i class="icon-plus"></i>&nbsp;@Html.ActionLink("Ekle", "Register", "Account")
        </button>
        <button class="btn btn-small ng-scope" data-ng-click="Refresh()">
            <i class="icon-refresh"></i>&nbsp;Yenile
        </button>


    </div>
    <div class="btn-toolbar pull-right">
        @*  <div class="btn-group">
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                <i class="icon-filter"></i>&nbsp;Filtre
        <span class="caret"></span>
            </button>
          
        </div>*@

        @* <div class="input-append" style="margin: 0px 0px 0px 10px;">

            <form style="margin: 0px">
                <input type="text" style="line-height: 16px; font-size: 13px;">

                <button type="submit" class="btn">Ara</button>
            </form>
        </div>*@
    </div>
</div>
<table class="table table-bordered table-hover">
    <tr>

        <th>Detay</th>
        <th>Adı Soyadı
        </th>
        <th>Kullanıcı Adı
        </th>
        <th>Email
        </th>
        <th>Yönetici Mi?
        </th>
        <th>Durum
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdministrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>


        </tr>
    }

</table>
